---
services:

    db:
        image: postgres:14.2-alpine
        restart: unless-stopped
        ports:
            - 5432:5432
        environment:
            POSTGRES_DB: core
            POSTGRES_USER: core
            POSTGRES_PASSWORD: core
        volumes:
            - postgresql-data:/var/lib/postgresql/data

    app:
        build: .
        restart: unless-stopped
        ports:
            - 8000:8000
        depends_on:
            - db
        environment:
            HOTMIX_DATABASES: '{"default":{"HOST":"db"}}'
            HOTMIX_SETTINGS_LOCAL_SETTINGS_PATH: local/settings.dev.py

volumes:
    postgresql-data:
        driver: local
